<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Basics Assignment 1 - Components</h1>
      <ol>
        <li>Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning or success message in the Components</li>
        <li>Style the Components appropriately (maybe some red/ green text?)</li>
      </ol>
      <p>Use external or internal templates and styles!</p>
      <p>Feel free to create more components, nest them into each other or play around with different types of selectors!</p>
    </div>
  </div>
  <h2>Solution</h2>
  <div class="row">
    <div class="col-xs-12 alert alert-warning">
      <app-warning-alert></app-warning-alert>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 alert alert-success">
      <app-success-alert></app-success-alert>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <h1>Basics Assignment 2 - Data binding</h1>
      <ol>
        <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
        <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
        <li>Add a button which may only be clicked if the username is NOT an empty string</li>
        <li>Upon clicking the button, the username should be reset to an empty string</li>
      </ol>
    </div>
  </div>
  <h2>Solution</h2>
  <div class="row">
    <div class="col-xs-12">
      <app-data-binding></app-data-binding>
    </div>
  </div>
  <hr>
  
  <div class="row">
      <div class="col-xs-12">
        <h1>Basics Assignment 3 - Directives</h1>
        <ol>
          <li>Add A button which says 'Display Details'</li>
          <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
          <li>Toggle the displaying of that paragraph with the button created in the first step</li>
          <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
          <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
        </ol>
      </div>
    </div>
  <div class="row">
    <div class="col-xs12">
        <app-directives></app-directives>
    </div>
  </div>
  
  <hr>

  <div class="row">
    <div class="col-xs-12">
      <h1>Basics Assignment 4 - Bind it!</h1>
      <ol>
        <li>Create three new components: GameControl, Odd and Even</li>
        <li>The GameControl Component should have buttons to start and stop the game</li>
        <li>When starting the game, an event (holding a incrementing number) 
          should get emitted each second (ref = setInterval())</li>
        <li>The event should be listenable from outside the component</li>
        <li>When stopping the game, no more events should get emitted (clearInterval(ref))</li>
        <li>A new Odd component should get created for every odd number emitted, the same should happen for the Even Component (on even numbers)</li>
        <li>Simply output Odd - NUMBER or Even - NUMBER in the two components</li>
        <li>Style the element (e.g. paragraph) holding your output text differently in both components</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs12">
        <app-cmp-binding></app-cmp-binding>
    </div>
  </div>
</div>

